<ion-header>
  <ion-toolbar>
    <ion-title>
      Log in or create your account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img class="profile-image" src="/assets/images/hot.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Airbnb</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Adventures await, start by loggin in or registering your account here</p>
        <ion-item>

        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter email"></ion-input>    
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter password"></ion-input>

        </ion-item>
        <ion-item>
          <ion-button >Submit</ion-button>
          <ion-button >Forget Password</ion-button>
        </ion-item>
      </ion-card-content>

    </ion-card>
    
</ion-content>
