<ion-header>
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
      
    </ion-fab-button>

  </ion-fab>
  
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button>
  
    <ion-list *ngIf = "hasM; else displayNoMsg">
        <ion-item *ngFor = "let item of Msgs"></ion-item>
        <div>
          {{item.name}}
        </div>
    </ion-list>
    <ng-template #displayNoMsg>
       <div class="ion-text-center">
        <h3>
          Use the "add" button to start a new message!
        </h3>
        </div>
      </ng-template>

  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
</ion-content>
