<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar>
        <img src="/assets/images/dan.jpg">
      </ion-avatar>
      <ion-item>
        <h1>Aloha! I'm Dan</h1>
      </ion-item>
    </ion-card>
    <ion-card>
      <h2>Bio:</h2>
      <h4>Welcome to Chipotle</h4>
    </ion-card>
    <ion-card>
      <ion-icon></ion-icon>
      <ion-item>Lives in London, GB</ion-item>
      <ion-icon></ion-icon>
      <ion-item>From Manchester, CT</ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
      <ion-icon></ion-icon>
      56 Reviews
      <ion-icon></ion-icon>
       80 Bookings made</ion-item>
      <ion-list>
        <ion-item>
            
          <ion-label>Jan 6, 2019</ion-label>
          <br>
          <p>Best homemade Chipotle meal I've ever had!</p>
          <ion-avatar>
              <img src="assets/images/chipotle.png">
            </ion-avatar>
        </ion-item>
        <ion-item>
            <ion-label>Jan 6, 2019</ion-label>
            <br>
            <p>La comida mexicana aqui es muy fuego </p>
            <ion-avatar>
                <img src="/assets/images/mexico.jpg">
              </ion-avatar>
          </ion-item>
          <ion-item>

              <ion-label>Jan 6, 2019</ion-label>
              <br>
            <p>Woof!</p>
            <ion-avatar>
                <img src="/assets/images/woof.jpeg">
              </ion-avatar>
          </ion-item>
      </ion-list>
    </ion-card>

</ion-content>
